header{
    background:rgba(211,211,211,0.8);
    padding: 1rem;
}
li{
    margin-left: 4rem;
    color: white;
    padding-top:0.5rem ;
}
.card{
    background-color: #808080 !important;
}

#ponel{
    border-radius: 10px;
    background-color: #26414A;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#me{
    padding-top: 10rem;
    height: 30rem;
}
#metext{
    width: 555px;
    height: 160px;
    background-color: darkgray;
}
#about_me{
    background-image: url("subPages/vizitka/subPages/galar/img/backgroundtest6-1.jpg");
}
#meo{
    border-radius: 1rem;
    margin-right: 6rem;
    padding-top: 1rem;
    margin-left: 8rem;
    padding-bottom: 1rem;
    background:rgba(72, 131, 132, 0.8);
}
.imconcar{
    height: 2.5rem;
    width: 2.5rem;
}
.imcar{
    height: 10.5rem;
    width: 20.5rem;
    padding-left: 1.9rem;
}
.pcard{
    padding-left: 1.9rem;
    width: 21rem;
}
footer{
    padding-top: 5rem;
    background-color: black;

}
form{
    height: 12rem;
    width: 15rem;
    background-color: lightgray;
    margin-left: 5rem;
}
.form-control{
    margin-left: 2rem !important;
    margin: 0.3rem !important;
    width: 14rem !important;
}
#fotbut{
    margin-left: 2rem;
    height: 32px;
}
#iputs{
    padding-top:10px ;
}
#contactme{
    width: 20rem ;
    height: 4.5rem ;
    padding-bottom: 0.5rem;
    margin-left: 76.2%;
    margin-top: 3rem;
    background-color: gray;
}
#conta{
    padding-top: 1rem;
    margin: 1rem;
}
#info{
    padding-top: 2rem ;
    padding-bottom: 2rem ;
}








@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

